<%- include('../layout/header.ejs') %>

<div class="main">
  <div class="container">
    <div class="content">
      <% for (var i = 0; i < posts.posts.length; i++) { %>
      <div class="post">
        <div class="top">
          <h2>
            <a href="/posts/<%=posts.posts[i].url %>">
              <%=posts.posts[i].title %>
            </a>
          </h2>
        </div>
        <div class="body">
          <p><%=posts.posts[i].body %></p>
        </div>
        <div class="bottom">
          <div class="author"></div>
          <a href="/posts/<%=posts.posts[i].url %>#<%=posts.posts[i].id %>"
            >Комментарии: <%=posts.posts[i].commentCount %>
          </a>
        </div>
      </div>
      <% } %> <% if (posts && posts.pages > 0) { %> <% perPage =
      Number(posts.perPage); %> <% pagesSkip = perPage + 1; %> <% current =
      Number(posts.current); %>

      <!--DEBUG
    <%= perPage %>|<%= pagesSkip %>
    -->

      <ul class="pagination">
        <% if (!current || current < 0 || current > posts.pages) { %>
        <li><a href="/1">Go to first page...</a></li>
        <% } else { %> <% if (posts.current > 1) { %>
        <li><a href="/users/<%=_user.login %>/">Первая</a></li>
        <% } %> <% var i = (current > pagesSkip ? current - perPage : 1) %> <%
        for (; i <= (current + perPage) && i <= posts.pages; i++) { %> <% if (i
        == posts.current) { %>
        <li class="active"><a><%= i %></a></li>
        <% } else if(i == 1) { %>
        <li><a href="/">1</a></li>
        <% } else { %>
        <li><a href="/users/<%=_user.login %>/<%= i %>"><%= i %></a></li>
        <% } %> <% } %> <% if (posts.current < posts.pages) { %>
        <li>
          <a href="/users/<%=_user.login %>/<%= posts.pages %>">Последняя</a>
        </li>
        <% } %> <% } %>
        <!--/else-->
      </ul>
      <% } %>
    </div>

    <%- include('../layout/sidebar.ejs') %>
  </div>
</div>

<%- include('../layout/footer.ejs') %>
